<p id="notice"><%= notice %></p>

<h1>Shapes</h1>

<% @shapes.each do |shape| %>
    <div>
      <h2><%= link_to shape.name, edit_shape_path(shape) %></h2>
      <p><%= shape.points %> points</p>
      <div class="shape_board_render" data-json="<%= BoardShape.dump(shape.board_data) %>"></div>
    </div>
<% end %>

<%= link_to 'New Shape', new_shape_path %>
